#firsth1 {
    color: red;
    font-size: 20px;
}
#firsth2 {
    color: blue;
    font-size: 40px;
}

#firsth3 {
    color: orange;
    font-size: 60px;
}

#firsth4 {
    color:black;
    font-size: 34px;
}

#firsth5 {
    color: aqua;
    font-size: 39px;
}