.meore {
    color: red;
    font-size: 20px;
    background-color: purple;
}
.mesame {
    color: blue;
    font-size: 50px;
    background-color: yellow;
}
.meotxe {
    color: pink;
    background-color:green ;
    font-size: 30px;
}
.pirveli {
    border: 2px solid darkred;
}