div {
  display: inline-block;
  margin: 20px;
}

#red-box {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 0, 0);
}

#green-box {
  width: 180px;
  height: 120px;
  background-color: rgb(0, 255, 0);
}

#blue-box {
  width: 200px;
  height: 140px;
  background-color: rgb(0, 0, 255);
}